<nav>
        <section>  
            <figure><img src="icon.png" alt="Icono de GRIMLEDGER"></figure>
            <h1>GRIMLEDGER</h1>
        </section>
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/manual">Manual</a></li>
            <li><a routerLink="/campaings">Campañas</a></li>
            <li><a routerLink="/about">Sobre nosotros</a></li>
            <li><a routerLink="/contact">Contacto</a></li>
            <li><a routerLink="/logout">Logout</a></li>
        </ul>
</nav>
