<nav class="board board--type-bulletin bulletin">
        <section>  
            <figure [hidden]="!authService.isLoggedIn()">
                <img src="icon.png" alt="Icono de GRIMLEDGER">
            </figure>
            <h1 [style.font-size]="!authService.isLoggedIn() ? '5em' : '2em'" [style.justify-self]="!authService.isLoggedIn() ? 'center' : 'start'">GRIMLEDGER</h1>
        </section>
        @if (authService.isLoggedIn()) {
        <ul>
            <li>
                <a routerLink="/" aria-label="Inicio" title="Inicio">
                    <img class="nav-icon" src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/icons/house-door-fill.svg" alt="Inicio">
                </a>
            </li>
            <li>
                <a routerLink="/manual" aria-label="Manual" title="Manual">
                    <img class="nav-icon" src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/icons/book-fill.svg" alt="Manual">
                </a>
            </li>
            <li>
                <a routerLink="/campaings" aria-label="Campañas" title="Campañas">
                    <img class="nav-icon" src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/icons/map-fill.svg" alt="Campañas">
                </a>
            </li>
            <li>
                <a routerLink="/about" aria-label="Sobre nosotros" title="Sobre nosotros">
                    <img class="nav-icon" src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/icons/people-fill.svg" alt="Sobre nosotros">
                </a>
            </li>
            <li>
                <a routerLink="/contact" aria-label="Contacto" title="Contacto">
                    <img class="nav-icon" src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/icons/envelope-fill.svg" alt="Contacto">
                </a>
            </li>
            <li>
                <a routerLink="/logout" aria-label="Logout" title="Logout">
                    <img class="nav-icon" src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/icons/box-arrow-right.svg" alt="Logout">
                </a>
            </li>
        </ul>
        }
</nav>
