@if (magicItem) {
  <section class="detail-container">
    <a routerLink="/manual" [queryParams]="{section: 'items'}" class="back-link">← Back</a>
    
    <div class="detail-header">
      <div class="header-content">
        <h2 class="detail-title">{{ magicItem.name }}</h2>
      </div>
      @if (magicItem.image) {
        <div class="header-image">
          <img [src]="getImageUrl(magicItem.image)" [alt]="magicItem.name" />
        </div>
      }
    </div>

    <div class="detail-grid">
      <div>
        <div class="detail-section">
          <h3>Type</h3>
          <p>{{ magicItem.type }}</p>
        </div>
        <div class="detail-section">
          <h3>Category</h3>
          <p>{{ magicItem.equipment_category.name }}</p>
        </div>
        <div class="detail-section">
          <h3>Rarity</h3>
          <p>{{ magicItem.rarity.name }}</p>
        </div>
        @if (magicItem.variant) {
          <div class="detail-section">
            <h3>Is Variant?</h3>
            <p>Yes</p>
          </div>
        }
      </div>
      <div>
        @if (magicItem.desc.length) {
          <div class="detail-section">
            <h3>Description</h3>
            <ul>
              @for (d of magicItem.desc; track $index) {
                <li>{{ d }}</li>
              }
            </ul>
          </div>
        }
      </div>
    </div>
    @if (magicItem.variants.length) {
      <div class="detail-section">
        <h3>Variants</h3>
        <ul>
          @for (v of magicItem.variants; track $index) {
            <li>{{ v.name }}</li>
          }
        </ul>
      </div>
    }
  </section>
}