@if (gear) {
  <section class="detail-container">
    <a routerLink="/manual" [queryParams]="{section: 'items'}" class="back-link">← Back</a>
    
    <div class="detail-header">
      <div class="header-content">
        <h2 class="detail-title">{{ gear.name }}</h2>
      </div>
      @if (gear.image) {
        <div class="header-image">
          <img [src]="getImageUrl(gear.image)" [alt]="gear.name" />
        </div>
      }
    </div>

    <div class="detail-grid">
      <div>
        <div class="detail-section">
          <h3>Category</h3>
          <p>{{ gear.equipment_category.name }}</p>
        </div>
        @if (gear.gear_category) {
          <div class="detail-section">
            <h3>Equipment Type</h3>
            <p>{{ gear.gear_category.name }}</p>
          </div>
        }
        @if (gear.cost) {
          <div class="detail-section">
            <h3>Cost</h3>
            <p>{{ gear.cost.quantity }} {{ gear.cost.unit }}</p>
          </div>
        }
        @if (gear.weight) {
          <div class="detail-section">
            <h3>Weight</h3>
            <p>{{ gear.weight }} lb</p>
          </div>
        }
        @if (gear.quantity) {
          <div class="detail-section">
            <h3>Quantity</h3>
            <p>{{ gear.quantity }}</p>
          </div>
        }
      </div>
      <div>
        @if (gear.desc.length) {
          <div class="detail-section">
            <h3>Description</h3>
            <ul>
              @for (d of gear.desc; track $index) {
                <li>{{ d }}</li>
              }
            </ul>
          </div>
        }
        @if (gear.contents.length) {
          <div class="detail-section">
            <h3>Contents</h3>
            <ul>
              @for (c of gear.contents; track $index) {
                <li>{{ c.item.name }} x{{ c.quantity }}</li>
              }
            </ul>
          </div>
        }
        @if (gear.special.length) {
          <div class="detail-section">
            <h3>Especial</h3>
            <ul>
              @for (s of gear.special; track $index) {
                <li>{{ s }}</li>
              }
            </ul>
          </div>
        }
      </div>
    </div>
  </section>
}